In [2]:
#imports
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import os
import csv
import cv2
import seaborn as sns
from tqdm import tqdm
from fastai.vision import *
from PIL import Image
from sklearn.metrics import mean_squared_error
%matplotlib inline

In [10]:
# constants
TEST_FRAMES = './data/IMG/test/'
TEST_RAW = './data/IMG/test_raw/'
OPT_ACC_TEST = './data/IMG/opt_acc_test/'
test_frames = 10798

In [37]:
test = pd.read_csv('test.csv').drop('Unnamed: 0', axis = 1)
test

                  filename  frame_id
0          test/frame0.jpg         0
1          test/frame1.jpg         1
2          test/frame2.jpg         2
3          test/frame3.jpg         3
4          test/frame4.jpg         4
...                    ...       ...
10792  test/frame10792.jpg     10792
10793  test/frame10793.jpg     10793
10794  test/frame10794.jpg     10794
10795  test/frame10795.jpg     10795
10796  test/frame10796.jpg     10796

[10797 rows x 2 columns]

In [38]:
test.shape

(10797, 2)

In [18]:
def predict_velocities(df, model, beta):
    predictions = []
    for i,filename in enumerate(df['filename']):
        learn = load_learner('models', model)
        image = open_image('./data/IMG/' + filename)
        pred = learn.predict(image)[0].data[0]
        if (i == 0):
            predictions.append(pred) #get prediction
        else:
            predictions.append((beta) * predictions[i-1] + (1-beta) * pred)
    return predictions

In [39]:
predictions = predict_velocities(test, 'model_4.679', 0.583)

In [15]:
predictions_cached = copy(predictions)

In [40]:
len(predictions)

10797

In [45]:
text_data = np.asarray(predictions, dtype = 'float32')
text_data
np.savetxt('test-2.txt', text_data)

In [9]:
predictions = np.loadtxt('test.txt')

In [26]:
predictions.insert(0,predictions[0])

In [43]:
#fill in missing value
predictions.append(predictions[10796])

In [44]:
predictions[10797]

10.70351151554492